/*@import url('https://fonts.googleapis.com/css?family=Roboto:light');*/

html, body {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto';
	height: 100%;
	margin: 0;
	background-color: #333;
}

::-webkit-scrollbar {
    display: none;
}