<div class="container-fluid">
  <div class="menu" [ngClass]="{ 'animated fadeIn' : animateMenu }">
    <span (click)="page = 'work'">Work </span>
    <span (click)="page = 'about'">About </span>
    <span (click)="page = 'contact'">Contact </span>
  </div>
  <div class="row kontakt animated fadeIn" *ngIf="page == 'work'">
    <div class="col-sm-12 div2">
      <br>
      <br>
      <br>
      <br>
      <span>Portolio here.</span>
    </div>
  </div>
  <div class="row portfolio animated fadeIn" *ngIf="page == 'about'">
    <ng-container *ngFor="let image of images; let i = index">
      <div class="col-6 col-sm-12 div1">
        <img class="img-fluid" [class.hidden]="i != 0" src="../assets/photos/{{image.name}}">
      </div> 
    </ng-container>
  </div>
  <div class="row kontakt animated fadeIn" *ngIf="page == 'contact'">
    <div class="col-sm-12 div2">
      <br>
      <br>
      <br>
      <br>
      <span>Kontakt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
    </div>
  </div>
</div>
