.container-fluid.bg-dark {
    background-color: #333;
    min-height      : 1000px;
}

.container-fluid.bg-white {
    background-color: #fff;
    color           : #000;
}

.bg-white .menu {
    color: #000;
}

.bg-dark .menu {
    color: #fff;
}

.menu {
    font-size   : 1.1rem;
    word-spacing: 1.1rem;
    opacity     : 0;
    margin-left : -15px;
    margin-right: -15px;
    padding-top : 0.8rem;
    position    : absolute;
    z-index     : 1;
    text-align  : center;
    width       : 100%;
}

.menu > span {
    cursor: pointer;
}


.start .div1 {
    background-size: cover;
    width          : 100%;
    background     : no-repeat center center;
    padding        : 0px;
    box-shadow     : 0rem 1rem 10rem rgba(0,0,0,0.8);
}

.start .images-vertical {
    display: none;
}

.start .img-fluid {
    width: 100%;
}

.start .title-wrapper {
    padding-top: 1rem;
    z-index    : 1;
    position   : absolute;
    top        : 0px;
    text-align : center;
    width      : 100%;
}

.start .intro-text-large {
    text-align: center;
    position  : absolute;
    margin    : auto;
    bottom    : 1rem;
    max-width : 35rem;
    left      : 0;
    right     : 0;
}

.start .intro-text-small {
    display         : none;
    background-color: #fff;
    color           : #000;
    text-align      : center;
    padding-top     : 1rem;
    z-index         : 1;
}

.start .carousel {
    width: 100%;
}

.start .carousel-caption {
    top   : 0px;
    bottom: inherit;
}

.work .standing {
    max-width: 24%;
}

.work .laying {
    max-width: 48%;
}

.work .image-wrapper {
    position: relative; 
    margin  : 0.5%;
    display : inline-block;
}

.work .image-overlay {
    position        : absolute;
    z-index         : 1;
    width           : 100%;
    text-align      : center;
    cursor          : pointer;
    height          : 100%;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.work .image-overlay .content {
    position : relative;
    float    : left;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

.work  .transparent { opacity: 0; }

.project .image-wrapper.debug {
    border-bottom: 3px solid #888;
}

.project img.invisible {
    opacity: 0;
}

.project img.absolute {
    position: absolute;
    left    : 0;
}

.project .image-wrapper {
    margin  : 0 -15px;
    position: relative;
}

.project div.controls {
    z-index : 10;
    position: absolute;
    width   : 100px;
    bottom  : 5%;
}

.project div.controls label {
    margin-bottom: 0;
    margin-top   : 0.5rem;
}

.project .info {
    text-align: center;
    margin    : auto;
    bottom    : 1rem;
    max-width : 35rem;
    left      : 0;
    right     : 0;
}

.project .name, .project .type {
    text-align: center;
}

.project .name {
    margin-top: 2rem;
}

.project .type {
    margin-bottom: 1rem;
}


.alignCenter {
    text-align: center;
}

button {
    margin-top: 0.5rem;
}

.col-centered {
    margin: 0 auto;
    float : none;
}


@media screen and (max-width : 500px) {
    .start .intro-text-large {
        display: none;
    }

    .start .intro-text-small {
        display: block;
    }

    .work .standing, .work .laying {
        max-width: 100%;
    }

    .work .imagee {
        margin-right: 0;
    }

    .project img.invisible {
        display: none;
    }

    .project img.absolute {
       width   : 100% !important;
       position: static !important; 
    }

    .project .image-wrapper {
        margin-top: 0px !important;
        margin    : inherit;
    }

    .start .carousel {
        display: none;
    }

    .start .images-vertical {
        display: block;
    }
}