<div class="container-fluid" [ngClass]="{
  'bg-dark' : page == 'back',
  'bg-white' : page != 'back'
}">

  <!-- MENU -->
  <div class="menu" [ngClass]="{ 'animated fadeIn' : animateMenu }">
    <span (click)="page = 'back'; initCarousel();">Bäck </span>
    <span (click)="page = 'work'; animateWork();">Work </span>
    <span (click)="page = 'about'">About </span>
  </div>


  <!-- START PAGE -->
  <div class="row start animated fadeIn" *ngIf="page == 'back'">
    <div class="col-12 div1 animated fadeIn">
      <img class="img-fluid" src="../assets/photos/startsida_bakgrund.png">
    </div>
    <ng-container>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <ng-container *ngFor="let image of images; let i = index">
            <div class="carousel-item active" [class.active]="i == 0">
              <div class="carousel-caption">
                <div>{{ image.title }}</div>
                <div>{{ image.sub_title }}</div>
              </div>
              <img class="d-block w-100 clickable" src="../assets/photos/{{ image.file_name }}" alt="First slide" (click)="getProject()">
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div class="images-vertical">
      <ng-container *ngFor="let image of images; let i = index">
        <div class="image-wrapper"
          (mouseleave)="image.overlay = false">
          <div class="col-12 div1 hidden">
            <div *ngIf="image.overlay == true"
                class="image-overlay animated faster fadeIn"
                (click)="getProject(); image.overlay = false;">
                <div class="content">
                  <div>{{ image.title }}</div>
                  <div>{{ image.sub_title }}</div>
                </div>
            </div>
            <div class="imagee"
              (mouseover)="showOverlay(image)"
              (click)="image.overlay = !image.overlay">
              <img class="img-fluid clickable" src="../assets/photos/{{image.file_name}}" (click)="getProject()">
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-sm-12 intro-text-small">
      <span class="hide-on-small">Welcome to Bäck! A design studio based in Stockholm, Sweden.<br></span>
      We offer graphic design, branding and art direction for cultural and commercial
      clients. For inquiries contact info@baeck.studio or visit us at Atlasgatan 14
    </div>
  </div>


  <!-- WORK-OVERVIEW PAGE -->
  <div class="row work animated fadeIn" *ngIf="page == 'work'">
    <div class="col-sm-12">
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-10 col-centered">
          <ng-container *ngFor="let image of imagesOversikt">
            <div class="image-wrapper transparent"
              [ngClass]="{
                'animated fadeInDown' : inAnimateThis(image.file_name),
                'standing' : isStanding(image.file_name) == true,
                'laying' : isStanding(image.file_name) == false
              }"
              (mouseleave)="image.overlay = false">
              <div *ngIf="image.overlay == true"
                class="image-overlay animated faster fadeIn"
                (click)="getProject(); image.overlay = false;">
                <div class="content">
                  <div>{{ image.title }}</div>
                  <div>{{ image.sub_title }}</div>
                </div>
              </div>
              <div class="imagee"
                (mouseover)="showOverlay(image)"
                (click)="image.overlay = !image.overlay">
                <img class="img-fluid"
                  src="../assets/photos/oversikt/{{image.file_name}}">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>


  <!-- ABOUT PAGE -->
  <div class="row about animated fadeIn" *ngIf="page == 'about'">
    <div class="col-sm-11 col-centered">
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-6 column-1">
          <p>Founded 2017 by Josefin Gahmberg and Clara Lidström, Bäck specialises in graphic design, branding and art direction. Their work includes publications, exhibition design, brand identities and digital solutions. Josefin and Clara studied at Berghs School of Communication (2011–2013) and have previously worked for agencies such as BankerWessel, Frankenstein Studio, ill Studio, Stockholm Graphics, Vice and MnO. For a meeting or inquires please contact info@baeck.studio<br><br></p>

          <p>Clients/Collaborations<br>
          <br>
          Näfveqvarn, +Rolf, Kartago, Natur & Kultur, Orosdi-Back, Norstedts, Folke Film, Barnombudsmannen, Stiftelsen Allmänna Barnhuset, Rådrum, Slutet är nära, Jubel, Emma Fällman Studio, Comentor, Stockholm Graphics, Lars Arrhenius, Fotografiska, Moderna Museet, Domus, Fredrik Augustsson, tidningen Faktum, Junibacken och Kulturhuset Stadsteatern</p>
        </div>
        <div class="col-sm-6 column-2">
          <p>
            Bäck<br>
            Atlasgatan 14<br>
            113 20 Stockholm, Sweden<br>
            info@baeck.studio<br>
            <br>
          </p>
          <p>
            For business inquiries please contact:
          </p>
            
          <p>info@baeck.studio</p>

          <p>
            Clara Lidström<br>
            +46 76 942 91 90<br>
            clara@baeck.studio<br>
          </p>

          <p>
            Josefin Gahmberg<br>
            +46 70 327 13 10<br>
            josefin@baeck.studio<br>
            <br>
          </p>

          <p>Follow Bäck</p>
            
            <a href="https://www.instagram.com/baeckstudio/" target="_blank">Instagram</a>
        </div>
      </div>
    </div>
  </div>


  <!-- INDIVIDUAL PROJECT PAGE -->
  <div class="row project animated fadeIn" *ngIf="page == 'project' && selectedProject != null">
    <div class="col-sm-12 div2">
      <br>
      <br>
      <div class="name">{{ selectedProject.name }}</div>
      <div class="type" (dblclick)="devmode()">{{ selectedProject.type }}</div>
      <div class="info">{{ selectedProject.info }}</div>
      <br>
      <br>
      <div class="image-wrapper" *ngFor="let image of selectedProject.images; let i = index;"
        [ngStyle]="{'margin-top': image.top + '%'}"
        [ngClass]="{'debug' : debug}">
        <img
          class="invisible"
          [ngStyle]="{'width': image.width + '%'}"
          src="../assets/photos/projects/{{image.url}}">
        <img
          id="{{image.id}}" class="absolute hidden"
          [ngClass]="{
            'animated fadeIn' : inAnimateThis(image.file_name),
            'hidden' : i > 1
          }"
          [ngStyle]="{
            'width': (image.width + '%'),
            'left': (image.alignment == 'left' ? (image.distance + '%') : 'inherit'),
            'right': (image.alignment == 'right' ? (image.distance + '%') : 'inherit')
          }"
          src="../assets/photos/projects/{{image.url}}">
        <div class="controls" *ngIf="debug">
          <ng-container>
            <label>Width</label>
            <input class="form-control" type="number" value="{{ image.width }}" name=""
            (change)="adjustImage($event.target.value, image.id, 'width')">
          </ng-container>
          <ng-container>
            <label>Distance</label>
            <input class="form-control" type="number" value="{{ image.distance }}" name="{{ image.distance }}"
            (change)="adjustImage($event.target.value, image.id, 'distance')">
          </ng-container>
          <ng-container>
            <label>Top</label>
            <input class="form-control" type="number" value="{{ image.top }}" name="{{ image.top }}"
            (change)="adjustImage($event.target.value, image.id, 'top')">
          </ng-container>
          <button type="button" class="btn btn-secondary" (click)="changeAlignment(image)">{{ image.alignment }}</button>
        </div>
      </div>
    </div>
  </div>
</div>