.menu {
	font-size: 1.1rem;
	word-spacing: 1.1rem;
	opacity: 0;
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 0.8rem;
	position: fixed;
	z-index: 1;
	text-align: center;
	width: 100%;
	color: #fff;
}

.menu > span {
	cursor: pointer;
}

.div1 {
    background-size: cover;
    width: 100%;
    background: no-repeat center center;
    padding: 0px;
    box-shadow: 0rem 1rem 10rem rgba(0,0,0,0.8);
}

.img-fluid {
    width: 100%;
}

.row.kontakt {
	top: 0;
	opacity: 0;
}

.title-wrapper {
	padding-top: 1rem;
	z-index: 1;
    position: absolute;
    top: 0px;
    text-align: center;
    width: 100%;
}

.intro-text {
	text-align: center;
	position: absolute;
	margin-left:-17.5rem;
    bottom: 1rem;
    width: 35rem;
    left:50%;
}